.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mintContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.btn {
  margin-top: 20px;
}
